section.promo
	.container
		.box.box_small.box_bordered.promo-card.promo__promo-card
			h1.display-text.display-text_lg.bold.promo-card__title Разработка AI-систем для вашего бизнеса

			.promo-card__body
				.promo-card__actions
					button.promo-card__button.button.button_primary.button_large(type="button") Попробовать бесплатно
					a.promo-card__button.button.button_default.button_large(href="#") Список модулей

				p.text.text_md.regular.promo-card__text
					| Cократим ваши расходы на 10%, за счет внедрения искусственного интеллекта в бизнес-процессы
