@import "mixins";

* {
	margin: 0;
	border: 0;
	padding: 0;
	-webkit-tap-highlight-color: transparent;

	&,
	&::before,
	&::after {
		box-sizing: border-box;
	}

	&:focus,
	&:active {
		outline: none;
	}

	::-ms-reveal {
		display: none;
	}
}

html {
	scroll-behavior: smooth;
	transition: opacity var(--fa-transition, 0.25s ease-in-out);

	&.loaded {
		opacity: 1;
	}

	&.lock {
		touch-action: none;
		overflow: hidden;
		padding-right: var(--fa-scrollbar-width, #{rem(17)});
	}
}

html,
body {
	height: 100%;
}

body {
	min-width: rem(375);
	overscroll-behavior: none;
	line-height: var(--fa-default-line-height, 1);
	text-rendering: optimizeLegibility;
	text-size-adjust: 100%;
	font-family: var(
		--fa-default-font-family,
		"SF Pro Display",
		ui-sans-serif,
		system-ui,
		-apple-system,
		sans-serif
	);
	font-size: var(--fa-default-font-size, 16px);
	font-weight: var(--fa-default-font-weight, 400);
	color: var(--fa-default-text-color, #000);
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

input[type="number"] {
	appearance: textfield;

	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		appearance: none;
	}
}

button {
	cursor: pointer;
	user-select: none;
	line-height: 1;
	background-color: transparent;

	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}

	&:disabled {
		cursor: default;
	}
}

a {
	user-select: none;
	text-decoration: none;

	&:focus,
	&:active {
		outline: none;
	}

	&:visited {
		text-decoration: none;
	}

	@include any-hover {
		text-decoration: none;
	}
}

ul,
li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

sup {
	color: inherit;
}

address {
	font-style: normal;
}
