@import "./mixins";

:root {
	// Fonts
	--fa-default-font-family: "SF Pro Display", ui-sans-serif, system-ui, -apple-system, sans-serif;
	--fa-default-font-size: 16px;
	--fa-default-font-weight: 400;
	--fa-default-line-height: 1;

	// Colors
	--fa-default-font-color: #222;
	--fa-secondary-color: #ff4040;
	--fa-error-color: #d83646;
	--fa-white-color: #fff;
	--fa-black-color: #000;
	--fa-green-color: #19c37d;

	// --fa-default-text-color: var(--fa-black-color);
	--fa-text-color-100: #ececf1;
	--fa-text-color-400: #acacbe;
	--fa-text-color-600: #565869;
	--fa-ready-color: var(--fa-green-color, #19c37d);
	--fa-in-process-color: #f3ae59;
	--fa-stopped-color: var(--fa-text-color-400, #acacbe);
	--fa-default-text-color: #000;
	--fa-gray-text-color: #808080;
	--fa-primary-color: #0071e3;
	--fa-primary-color-hover: #1180f6;
	--fa-primary-color-active: #0367cb;
	--fa-default-button-color-bg: #fff;
	--fa-default-button-color-bg-hover: color-mix(in srgb, var(--fa-primary-color, #0071e3), #fff 95%);
	--fa-default-button-color-bg-active: color-mix(in srgb, var(--fa-primary-color, #0071e3), #fff 90%);
	--fa-default-button-border-color: #ccc;
	--fa-input-default-text-color: #fff;
	--fa-input-background-color: #fff;
	--fa-input-border-color: #fff;
	--fa-background-dark-color: #171717;
	--fa-background-section-1: #f8f8f8;
	--fa-background-box-1: #1d70e0;

	// Shadows
	--fa-header-shadow: 0 0 #{rem(8)} #{rgba(#000, 20%)};
	--fa-default-shadow: 0px 2px 3px rgb(0 0 0 / 15%), 0px 2px 6px rgb(0 0 0 / 8%);
	--fa-hover-shadow: 0 0 5px rgb(0 0 0 / 15%), 0 0 10px rgb(0 0 0 / 10%), 0 0 15px rgb(0 0 0 / 5%);

	// Transitions
	--fa-transition: 0.25s ease-in-out;

	// Radiuses
	--fa-default-radius: #{rem(8)};
	--fa-radius-md: #{rem(12)};
	--fa-radius-lg: #{rem(50)};

	// Paddings
	--fa-offset-inline: #{rem(20)};
	--fa-padding-lg: #{rem(80)};
}
