@import "@styles/config/functions";
@import "@styles/config/mixins";

.neural-affect-business {
	background-color: var(--fa-background-section-1);

	&__title {
		&:not(:last-child) {
			margin-bottom: rem(60);
		}
	}

	&__box {
		@include media-mx(1000) {
			background-color: transparent;
		}
	}

	&__body {
		display: grid;
		gap: rem(60);
	}

	&__row {
		@include media-mn(940) {
			display: flex;
			gap: rem(40);
			justify-content: space-between;

			&_reverse {
				flex-direction: row-reverse;
			}
		}
	}

	&__img {
		border-radius: var(--fa-radius-md);
		aspect-ratio: 2 / 1.5;

		@include media-mn(940) {
			flex: 1 1 auto;
		}

		@include media-mx(940) {
			&:not(:last-child) {
				margin-bottom: rem(40);
			}
		}
	}

	&__info {
		flex: 0 1 50%;
	}
}
