extends layouts/base

//- Place to connect a variables:
block vars
	- pageTitle = 'Module Page'
	include vars/links

//- Place to connect the header
block header

//- Place to connect content of the page:
block contentPage
	main.page

//- Place to connect the footer:
block footer
