mixin breadcrumbs(classElement)
	.breadcrumbs(data-da="promo-module-box, 1000, first", class=classElement)
		ul.breadcrumbs__list.text.text_md
			li.breadcrumbs__item
				a.text.text_md.breadcrumbs__link(href="/") Главная
			li.breadcrumbs__item
				a.text.text_md.breadcrumbs__link(href="#") Все модули
			li.breadcrumbs__item
				span.text.text_md Классификация по типам звонка
