<svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" viewBox="0 0 56 56" fill="none">
	<path d="M45.5 20.5L48.625 13.625L55.5 10.5L48.625 7.37497L45.5 0.499969L42.375 7.37497L35.5 10.5L42.375 13.625L45.5 20.5ZM26.75 21.75L20.5 7.99997L14.25 21.75L0.5 28L14.25 34.25L20.5 48L26.75 34.25L40.5 28L26.75 21.75ZM45.5 35.5L42.375 42.375L35.5 45.5L42.375 48.625L45.5 55.5L48.625 48.625L55.5 45.5L48.625 42.375L45.5 35.5Z" fill="currentColor"/>
</svg>
